<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service_HealthCheckupReminderSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="Service_HealthCheckupReminderSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://macare.mactech.net.in/MACARE_MIS_Service/ServiceHealthCheckupAlert/Service_HealthCheckupReminder.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service_HealthCheckupReminderSoap"
                contract="ServiceReference_HealthCheckupalert.Service_HealthCheckupReminderSoap"
                name="Service_HealthCheckupReminderSoap" />
        </client>
    </system.serviceModel>
</configuration>
