<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService_CustComplaintSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebService_CustComplaintSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44331/WebService_CustComplaint.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService_CustComplaintSoap"
                contract="ServiceMacare.WebService_CustComplaintSoap" name="WebService_CustComplaintSoap" />
        </client>
    </system.serviceModel>
</configuration>